@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

/************ COMMON  *************/
body{font-family: 'Poppins' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #5d516c;
	background-color: #fff;
	overflow-x: hidden; 
	height: 5000px;}
	
.title{ color: #38214A;}
.btn-view{color: #38214A; }
.bar-ani::after{display: block; content:""; border-bottom: 1px solid #38214A; transform: scaleX(0); transform-origin: left; transition: all 0.4s;}
.bar-ani:hover::after{transform: scaleX(1); }

.x100{flex:calc(100% - 2rem) 0 0; margin: 0 1rem;}
.x60{flex:calc(60% - 2rem) 0 0; margin: 0 1rem;}
.x50{flex:calc(50% - 2rem) 0 0; margin: 0 1rem;}
.x40{flex:calc(40% - 2rem) 0 0; margin: 0 1rem;}
.x33{flex:calc(33.3333% - 2rem) 0 0; margin: 0 1rem;}
.x25{flex:calc(25% - 2rem) 0 0; margin: 0 1rem;}
.x16{flex:calc(16.6666% - 2rem) 0 0; margin: 0 1rem;}


.wrapper{ position: relative;}
/************ HEADER  *************/
.header-wrapper{width: 100vw; height: 109px; position: absolute; top: 0; left: 0; z-index: 10;}
.header-wrap{display: flex; justify-content: space-between; align-items: center; text-align: center; width: 95%; height: 100%; margin: 0 auto; position: relative;} 
.header-wrap .nav-wrap{padding-left: 35%;}
.header-wrap .nav-wrapper .nav{display: flex; justify-content: space-evenly; align-items: center;  }
.header-wrap .nav > li span{color:#37214A; font-weight: 600; font-size: 1em;}
.header-wrap .nav > li span.off{color:#978C9F;}
.nav > li .sub-nav{display: none; }

.header-wrap .side-nav-wrap{display: flex; justify-content: flex-end; align-items: center; color: #38214A; }
.header-wrap .side-nav-wrap > div{display: inline-block;}
.header-wrap .side-nav-wrap .media-wrap{display: flex; justify-content:space-between; align-items: center; width: 110px;}
.header-wrap .side-nav-wrap .media-wrap>div{display: inline-block;  font-size: 17px; cursor: pointer;}
.header-wrap .side-nav-wrap .cart-wrap{width: 8%; margin: 0 10% 0 7%; }
.header-wrap .side-nav-wrap .cart-wrap a{font-weight: 600; }
.header-wrap .side-nav-wrap .cart-wrap .cart-message{display: none;}
.header-wrap .side-nav-wrap .side-nav span{display: flex; justify-content: space-between; align-items: center; }
.header-wrap .side-nav-wrap .side-nav div{width: 5px; height: 5px; background-color: #555; border-radius: 2px; margin: 1.5px;}


/************  HOME  *************/
.home-wrapper{width: 100%; height: 778px; position: relative; overflow: hidden; font-size: 1rem;}
.home-wrap{width:100%; height: 100%;}
.home-wrap .slide-wrapper{position: absolute; width: 100vw; height: 100%; left: 0; top: 0; opacity: 0;  overflow: hidden; }
.home-wrap .slide-wrapper .slide-wrap{width: 80%; height: 100%; position: relative; display: flex; justify-content: start; align-items: center; align-items: center; margin: 0 auto; }
.home-wrap .slide-wrapper .slide-wrap .slide-left{display: flex; flex-wrap: wrap; z-index: 10; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .title{ overflow: hidden;}
.home-wrap .slide-wrapper .slide-wrap .slide-left .title h2{font-weight: 800; font-size: 4.2em; animation-duration: 1s; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .slide-desc{margin: 24px 0 32px 0; font-size: 1.2em; overflow: hidden;}
.home-wrap .slide-wrapper .slide-wrap .slide-left .btn-view{background-color: #fff; border-radius: 32px; padding: 12px 48px; border:none; box-shadow: 0 0 10px rgba(242,192,221,0.4); cursor: pointer;  z-index: 2; }
.home-wrap .slide-wrapper .slide-img{ transition: all 1s; animation-name: none;}
.home-wrap .slide-wrapper .slide-img.slide-ani{ animation: slideAni 1s ease-in-out;}
.home-wrap .slide-wrapper .slide-img.slide-ani-down{ animation: slideAniDown 0.75s ease-in-out; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .slide-desc > div{animation-duration: 1.1s; animation-delay: 0.2s; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .btn-view{animation-duration: 0.8s; animation-delay: 0s; animation-timing-function: cubic-bezier(0.8, 0.15, 0.55, 0.8);  font-weight: 600; transition: transform 0.5s;}
.home-wrap .slide-wrapper .slide-wrap .slide-left .btn-view:hover{transform: translateY(-5px); box-shadow: 0 5px 10px rgba(242,192,221,0.5);}
.home-wrap .slide-wrapper .slide-wrap .slide-left .slide-ani-up{animation-name:slideAniUp;}

.home-wrap .slide-wrapper:nth-child(1){background: #F7F6F5;}
.home-wrap .slide-wrapper:nth-child(1) .slide-img:nth-child(2){ 
	position: absolute; right: -100px; bottom: 0;}
	.home-wrap .slide-wrapper:nth-child(1) .slide-img:nth-child(3){ position: absolute; left: 0; top:-100px; }
.home-wrap .slide-wrapper:nth-child(2) { background: #F8E7E5;}
.home-wrap .slide-wrapper:nth-child(2) .slide-img {position: absolute; right: 5%; bottom: 10%; }
.home-wrap .slide-wrapper:nth-child(3) {background: linear-gradient(45deg, rgb(243, 214, 199) 0%, rgba(242,192,221,1) 49%, rgba(243,216,249,1) 100%); }
.home-wrap .slide-wrapper:nth-child(3) .slide-img { position: absolute; right: 0; bottom: 10%; padding-right: 20%; }

@keyframes slideAni {
	from{transform: translateX(100px); }
	to{transform: translateX(0);}
}
@keyframes slideAniDown {
	from{transform: translateY(-100px);}
	to{transform: translateY(0);}
}
@keyframes slideAniUp {
	from{transform: translateY(100%); opacity: 0;}
	to{transform: translateY(0); opacity:1;}
}

.home-wrap .arrow-wrap{position: relative; width: 95%; top: 50%; left: 0; transform: translateY(-50%); display: flex; justify-content: space-between; margin: 15px auto;}
.home-wrap .slide-arrow{width:54px; height:54px; position: relative; cursor: pointer;} 
.home-wrap .slide-arrow svg{width:54px; height:54px; position: absolute; transform: rotate(180deg);}
.home-wrap .slide-arrow svg circle{stroke:#978C9F; stroke-width: 1px; fill: transparent;  }
.home-wrap .slide-arrow svg:nth-child(2) circle{stroke:#111;  stroke-dasharray: 150; stroke-dashoffset: 150;  }
.home-wrap .slide-arrow:hover svg:nth-child(2) circle{stroke-dashoffset: 0; }
.home-wrap .slide-arrow .fa{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 26px; font-weight: 300; color: #978C9F; transition: all 1s;}
.home-wrap .slide-arrow:hover .fa{color: #111;}

/************ PROMO  *************/
.promo-wrapper{width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 2rem 1rem; margin: 0 auto; font-size: 1rem;}
.promo-wrap{border-radius: 5px; position: relative; display: flex; justify-content: start; align-items: center; height: 100%; padding: 0 2em; height:17.6vw; overflow: hidden;}
.promo-wrap:nth-child(1) {background: linear-gradient(45deg, rgb(243, 214, 199) 0%, rgba(242,192,221,1) 49%, rgba(243,216,249,1) 100%);}
.promo-wrap:nth-child(2) {background: #F8E7E5;}
.promo-wrap:nth-child(3) {background: #F7F6F5;}
.promo-wrap .bg{font-size: 8em; font-weight: 700; position: absolute; bottom: 30%; left: 4%;}
.promo-wrap:nth-child(1) .bg{color: #F9D6DD;}
.promo-wrap:nth-child(2) .bg{color: #FDF5F5;}
.promo-wrap:nth-child(3) .bg{color: #F8E7E5;}
.promo-wrap .promo-img{position: absolute; right: 0; transition:transform 0.5s; transform:translateX(0); }
.promo-wrap .promo-img img{width: 100%; height: 100%; }
.promo-wrap:hover .promo-img{transform:translateX(1em); }
.promo-wrap .promo-box{z-index: 5; padding-top: 3em;}
.promo-wrap .promo-box .title{font-size: 2em; font-weight: 600;}
.promo-wrap .promo-box .desc{font-size: 1em; padding-bottom: 2em;}
.promo-wrap .promo-box .btn-view{font-size: 1em; font-weight: 600; cursor: pointer; display: inline-block;}
.promo-wrap .promo-box .btn-view i{ font-size: 1.1em; }






/************ Responsive  *************/
@media screen and (max-width: 1679px) {
	 
	.slide-wrapper:nth-child(1) .slide-img:nth-child(2) img{ 
		width: 881px;}
	.slide-wrapper:nth-child(2) .slide-img:nth-child(2) img{ 
		width: 780px;}
	.slide-wrapper:nth-child(3) .slide-img:nth-child(2) img{ 
		width: 450px;}
}
@media screen and (max-width: 1399px) {
	.home-wrapper{height:650px; }
	
}

@media screen and (max-width: 1024px) {
	.header-wrapper{position: static;}
	.header-wrap .nav-wrapper , .header-wrap .side-nav-wrap .cart-wrap , .header-wrap .side-nav-wrap .media-wrap{display: none;}
	.slide-wrapper:nth-child(1) .slide-img:nth-child(2) img{ 
		width: 801px;}
	.slide-wrapper:nth-child(2) .slide-img:nth-child(2) img{ 
		width: 610px;}
	.slide-wrapper:nth-child(3) .slide-img:nth-child(2) img{ 
		width: 380px;}
	.home-wrap .slide-wrapper:nth-child(2) .slide-img{bottom: 0%; transform:translateY(0);}
	.home-wrap .slide-wrapper:nth-child(3) .slide-img{bottom: 0%; transform:translateY(0);}
	

}

@media screen and (max-width: 767px) {
	.home-wrapper{height:697px; }
	.home-wrap .arrow-wrap{display: none;}
} 

@media screen and (max-width: 696px) {
	.home-wrapper{height:780px; }
	.slide-wrapper:nth-child(1) .slide-img:nth-child(2) img{ 
		width: 387px;}
	.slide-wrapper:nth-child(2) .slide-img:nth-child(2) img{ 
		width: 380px;}
	.slide-wrapper:nth-child(3) .slide-img:nth-child(2) img{ 
		width: 250px;}
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 480px) {

} 




