@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

/************ COMMON  *************/
html,body{font-family: 'Poppins' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #5d516c;
	background-color: #fff;
	overflow-x: hidden; 
}
	
.title{ color: #38214A;}
.bar-ani::after{display: block; content:""; border-bottom: 1px solid #38214A; transform: scaleX(0); transform-origin: left; transition: all 0.4s;}
.bar-ani:hover::after{transform: scaleX(1); }

.x100{flex:calc(100% - 2rem) 0 0; margin: 1rem;}
.x60{flex:calc(60% - 2rem) 0 0; margin: 0 1rem;}
.x50{flex:calc(50% - 2rem) 0 0; margin: 0 1rem;}
.x40{flex:calc(40% - 2rem) 0 0; margin: 0 1rem;}
.x33{flex:calc(33.3333% - 2rem) 0 0; margin: 0 1rem;}
.x33-2{flex:calc(28% - 2rem) 0 0; margin: 0 2rem;}
.x25{flex:calc(25% - 2rem) 0 0; margin: 0 1rem;}
.x16{flex:calc(16.6666% - 2rem) 0 0; margin: 0 1rem;}

.btn-view{background-color: #fff; border-radius: 32px; padding: 12px 48px; border:none; box-shadow: 0 0 10px rgba(242,192,221,0.4); cursor: pointer;  z-index: 2; color: #38214A; transition: transform 0.5s;}
.btn-view:hover{transform: translateY(-5px); box-shadow: 0 10px 10px rgba(242,192,221,0.6);}
.wrapper{ position: relative;}

/************ HEADER  *************/
.header-wrapper{width: 100vw; height: 109px; position: absolute; top: 0; left: 0; z-index: 10; user-select: none; transition:top 0.5s;}
.header-wrapper.on{position: fixed; top: 0px; height: 70px; background-color: #fff; box-shadow: 0 15px 15px rgba(242,192,221,0.3);}
.header-wrapper.on .header-wrap .side-nav-wrap .cart-wrap{display: none;}
.header-wrapper.on .header-wrap .side-nav-wrap .media-wrap{flex:42% 0 0;}
.header-wrap{display: flex; justify-content: space-between; align-items: center; text-align: center; width: 95%; max-width: 1920px;  height: 100%; margin: 0 auto; position: relative;} 
.header-wrap .nav-wrapper{height: 100%;}
.header-wrap .nav-wrap{margin-left: 20%; ; min-width: 548px; height: 100%;}
.header-wrap .nav-wrapper .nav{display: flex; justify-content: stretch; align-items: center; height: 100%;}
.header-wrap .nav > li{position: relative; flex:14% 0 0; height: 100%; z-index: 20;	margin: 0;}
.header-wrap .nav > li:nth-child(3){flex:20% 0 0;}
.header-wrap .nav > li a{display: flex; justify-content: center; align-items: center; height: 100%; }
.header-wrap .nav > li span{color:#37214A; font-weight: 600; font-size: 1em;}
.header-wrap .nav > li span.off{color:#978C9F;}
.header-wrapper .nav > li .sub-nav{ width: 200px; position: absolute; left: -10%; top: 109px; background-color: #fff; box-shadow: 0 10px 10px rgba(242,192,221,0.2); text-align: left; padding: 15px 30px 30px 20px; transition: transform 0.4s;  transition-timing-function: cubic-bezier(0.8 , 0.1 , 0.9, 0.2); transform:scaleY(0); transform-origin: top; opacity:0;  z-index: 10;}
.header-wrapper .nav-wrapper .nav > li:hover .sub-nav{transform:scaleY(1); opacity: 1; transition:all 0.3s; transition-delay: 0.1s; }
.header-wrapper .nav > li .sub-nav li{ margin-top: 10px; cursor: pointer; transition:all 0.3s; transform:translateX(0); opacity: 1; }
.header-wrapper .nav > li .sub-nav > li:hover{ transform:translateX(7px); opacity: 0.7;}
.header-wrapper .nav > li div.sub-nav ul > li:hover{ transform:translateX(7px); opacity: 0.7;}
.header-wrapper .nav > li .sub-nav > li:hover.sub-nav-li{transform:translateX(0); opacity: 1;}
.header-wrapper .nav > li:nth-child(3)::after{display: block; content:""; width: 100vw; height: 270px; background-color: #fff; position: absolute; top:105px; left: -38vw; box-shadow: 0 10px 10px rgba(242,192,221,0.2); transition: transform 0.4s;  transition-timing-function: cubic-bezier(0.8 , 0.1 , 0.9, 0.2); transform:scaleY(0); transform-origin: top; opacity:0;  z-index: 5;}
.header-wrapper .nav > li.scroll-bg:nth-child(3)::after{top: 70px;}
.header-wrapper .nav > li:nth-child(3):hover::after{transform:scaleY(1); opacity: 1; transition:all 0.3s; transition-delay: 0.1s; }
.header-wrapper .nav > li div.sub-nav{width: 1200px; left: -200%; display: flex; justify-content: space-between; align-items: start; box-shadow: none;}
.header-wrapper .nav > li ul.sub-nav li.sub-nav-li{position: relative;}
.header-wrapper .nav > li ul.sub-nav li.sub-nav-li:hover .sub-sub-nav{opacity:1;}
.header-wrapper .nav > li ul.sub-nav li.sub-nav-li ul.sub-sub-nav{border-radius: 5px; left: 100%; top: 0 !important; transition:opacity 0.5s; opacity:0;}
.header-wrapper .nav > li ul.sub-nav li.sub-nav-li i{position: absolute; right: 10px; font-size: 1em; font-weight: 600; top: 5px; transform:translateX(0); transition: transform 0.5s;}
.header-wrapper .nav > li ul.sub-nav li.sub-nav-li:hover i{transform:translateX(5px);}

.header-wrap .side-nav-wrap{display: flex; justify-content: flex-end; align-items: center; color: #38214A; margin-right: 0;}
.header-wrap .side-nav-wrap > div{display: inline-block;}
.header-wrap .side-nav-wrap .media-wrap{display: flex; justify-content:space-between; align-items: center; width: 110px; margin-right: 1em;}
.header-wrap .side-nav-wrap .media-wrap .media{display: inline-block; font-size: 18px; cursor: pointer; position: relative; width: 40px; height: 40px; margin: 0; }
.header-wrap .side-nav-wrap .media-wrap .media svg{position: absolute; width: 40px; height: 40px; left: 0; transform: rotate(180deg);} 
.header-wrap .side-nav-wrap .media-wrap .media svg circle{ stroke: #888; fill-opacity: 0; transition: all 1s; stroke-dashoffset: 150; stroke-dasharray: 150; }  
.header-wrap .side-nav-wrap .media-wrap .media:hover svg circle{stroke-dashoffset: 0;}
.header-wrap .side-nav-wrap .media-wrap .media i{position: absolute; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; left: 0;}

.header-wrap .side-nav-wrap .cart-wrap{margin-left: 2em; height: 109px; position: relative;}
.header-wrap .side-nav-wrap .cart-wrap .cart{ position: relative; font-weight: 600; display: block; height: 100%; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.header-wrap .side-nav-wrap .cart-wrap .cart a{transition:all 0.4s; opacity: 1;}
.header-wrap .side-nav-wrap .cart-wrap .cart-message{position: absolute; right: 0; top: 109px; background-color: #fff; width: 250px; height: 100px; border-radius: 0 0 5px 5px; transition: transform 0.5s; transform-origin: top; transform: scaleY(0); opacity: 0; display: flex; align-items: center; justify-content: center; font-weight: 400;}
.header-wrap .side-nav-wrap .cart-wrap .cart:hover .cart-message{transform:scaleY(1); opacity:1; transition:all 0.5s;}
.header-wrap .side-nav-wrap .cart-wrap .cart:hover a{opacity: 0.7;}

.header-wrap .side-nav-wrap .side-nav{margin-right: 0; cursor: pointer;}
 .side-nav-btn span{display: flex; justify-content: end; align-items: center; }
 .side-nav-btn div{width: 5px; height: 5px; background-color: #222; border-radius: 2px; margin: 1.5px; transition:all 0.5s;}
.header-wrap .side-nav-wrap .side-nav:hover span:nth-child(odd) div:nth-child(even){background-color:#888;}
.header-wrap .side-nav-wrap .side-nav:hover span:nth-child(even) div:nth-child(odd){background-color:#888;}


/************  HOME  *************/
.home-wrapper{width: 100%; height: 778px; position: relative; overflow: hidden; font-size: 1rem; user-select: none;}
.home-wrap{width:100%; height: 100%; max-width: 1920px; margin: 0 auto;}
.home-wrap .slide-wrapper{position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0;  overflow: hidden; }
.home-wrap .slide-wrapper .slide-wrap{width: 80%; height: 100%; position: relative; display: flex; justify-content: start; align-items: center; align-items: center; margin: 0 auto; }
.home-wrap .slide-wrapper .slide-wrap .slide-left{display: flex; flex-wrap: wrap; z-index: 1; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .title{ overflow: hidden;}
.home-wrap .slide-wrapper .slide-wrap .slide-left .title h2{font-weight: 800; font-size: 4.2em; animation-duration: 1s; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .slide-desc{margin: 24px 0 32px 0; font-size: 1.2em; overflow: hidden;}
 
.home-wrap .slide-wrapper .slide-img{ transition: all 1s; animation-name: none;}
.home-wrap .slide-wrapper .slide-img.slide-ani{ animation: slideAni 1s ease-in-out;}
.home-wrap .slide-wrapper .slide-img.slide-ani-down{ animation: slideAniDown 0.75s ease-in-out; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .slide-desc > div{animation-duration: 1.1s; animation-delay: 0.2s; }
.home-wrap .slide-wrapper .slide-wrap .slide-left .btn-view{animation-duration: 0.8s; animation-delay: 0s; animation-timing-function: cubic-bezier(0.8, 0.15, 0.55, 0.8);  font-weight: 600; }

.home-wrap .slide-wrapper .slide-wrap .slide-left .slide-ani-up{animation-name:slideAniUp;}

.home-wrap .slide-wrapper:nth-child(1){background: #F7F6F5;}
.home-wrap .slide-wrapper:nth-child(1) .slide-img:nth-child(2){ 
	position: absolute; right: -100px; bottom: 0;}
	.home-wrap .slide-wrapper:nth-child(1) .slide-img:nth-child(3){ position: absolute; left: 0; top:-100px; }
.home-wrap .slide-wrapper:nth-child(2) { background: #F8E7E5;}
.home-wrap .slide-wrapper:nth-child(2) .slide-img {position: absolute; right: 5%; bottom: 10%; }
.home-wrap .slide-wrapper:nth-child(3) {background: linear-gradient(45deg, rgb(243, 214, 199) 10%, rgba(242,192,221,1) 55%, rgba(243,216,249,1) 100%); }
.home-wrap .slide-wrapper:nth-child(3) .slide-img { position: absolute; right: 0; bottom: 10%; padding-right: 20%; }

@keyframes slideAni {
	from{transform: translateX(100px); }
	to{transform: translateX(0);}
}
@keyframes slideAniDown {
	from{transform: translateY(-100px);}
	to{transform: translateY(0);}
}
@keyframes slideAniUp {
	from{transform: translateY(100%); opacity: 0;}
	to{transform: translateY(0); opacity:1;}
}

.home-wrap .arrow-wrap{position: relative; width: 95%; top: 50%; left: 0; transform: translateY(-50%); display: flex; justify-content: space-between; margin: 15px auto;}
.home-wrap .slide-arrow{width:54px; height:54px; position: relative; cursor: pointer;} 
.home-wrap .slide-arrow svg{width:54px; height:54px; position: absolute; transform: rotate(180deg);}
.home-wrap .slide-arrow svg circle{stroke:#978C9F; stroke-width: 1px; fill: transparent;  }
.home-wrap .slide-arrow svg:nth-child(2) circle{stroke:#111;  stroke-dasharray: 150; stroke-dashoffset: 150;  }
.home-wrap .slide-arrow:hover svg:nth-child(2) circle{stroke-dashoffset: 0; }
.home-wrap .slide-arrow .fa{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 26px; font-weight: 300; color: #978C9F; transition: all 1s;}
.home-wrap .slide-arrow:hover .fa{color: #111;}

/************ PROMO  *************/
.promo-wrapper{width: 100%;  max-width: 1920px; font-size: 1rem; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; padding: 0 1rem; margin: 0 auto; user-select: none;}
.promo-wrap{border-radius: 5px; position: relative; display: flex; justify-content: start; align-items: center; height: 100%; min-height: 18em; padding: 0 3em; margin-top: 2em; height:17.6vw; overflow: hidden;}
.promo-wrap:nth-child(1) {background: linear-gradient(45deg, rgb(243, 214, 199) 15%, rgba(242,192,221,1) 55%, rgba(243,216,249,1) 100%);}
.promo-wrap:nth-child(2) {background: #F8E7E5;}
.promo-wrap:nth-child(3) {background: #F7F6F5;}
.promo-wrap .bg{font-size: 9em; font-weight: 700; position: absolute; bottom: 30%; left: 0.25em;}
.promo-wrap:nth-child(1) .bg{color: #F9D6DD;}
.promo-wrap:nth-child(2) .bg{color: #FDF5F5;}
.promo-wrap:nth-child(3) .bg{color: #F8E7E5;}
.promo-wrap .promo-img{position: absolute; right: 0; transition:transform 0.5s; transform:translateX(0); }
.promo-wrap .promo-img img{width: 100%; height: 100%; }
.promo-wrap:hover .promo-img{transform:translateX(1em); }
.promo-wrap .promo-box{z-index: 5; padding-bottom: 0.5em;}
.promo-wrap .promo-box .title{font-size: 2em; font-weight: 600;}
.promo-wrap .promo-box .desc{font-size: 1em; padding-bottom: 2em;}
.promo-wrap .promo-box .btn-more{font-size: 1em; font-weight: 600; cursor: pointer; display: inline-block; color: #37214A;}
.promo-wrap .promo-box .btn-more i{ font-size: 1.1em; }

/************ Music Shop  *************/
.shop-wrapper{width: 100%; font-size: 1rem; margin-top: 60px; padding: 4em; overflow: hidden;}
.shop-wrapper .shop-title{text-align: center; margin: 0 auto; }
.shop-wrapper .shop-title .title h2{font-size: 3em; color:#111; font-weight: 700; letter-spacing: -0.2;}
.shop-wrapper .shop-title .desc{font-size: 1.1em; margin: 1em 0 4em 0; line-height: 1.4; letter-spacing: 2.5;}
.shop-wrapper .shop-wrap{display: flex; flex-wrap: wrap; }
.shop-wrapper .shop-wrap .shop-item img{width: 100%; border-radius: 5px; transition:all 0.5s;} 
.shop-wrapper .shop-wrap .shop-item .item-img{position: relative;}
.shop-wrapper .shop-wrap .item-desc{color:#38214A; font-size: 1.2em; font-weight: 600; margin-top: 30px;}
.shop-wrapper .shop-wrap .item-price{margin-bottom: 90px;}
.shop-wrapper .item-img .btn-view{position: absolute; bottom: 2em; left: 50%; transform:translateX(-50%); opacity: 0; transition:all 0.5s; font-size: 1em; letter-spacing: -0.2; font-weight: 500;}
.shop-wrapper .item-img .btn-view:hover{bottom: 2.25em;}
.shop-wrapper .shop-wrap .shop-item:hover img{filter: blur(5px);}
.shop-wrapper .shop-wrap .shop-item:hover .btn-view{opacity: 1;}

/************ Svg Wrapper  *************/
.svg-wrapper{width: 1200px; margin: 0 auto; font-size: 1rem; display: flex; color: #5D516C; flex-wrap: wrap;}
.svg-wrapper .svg-wrap{margin-bottom: 30px;}
.svg-wrapper .svg-wrap svg{opacity: 0; cursor: pointer;}
.svg-wrapper .svg-wrap svg path{stroke:#5d516c; color:#5d516c; }
.svg-wrapper .svg-wrap svg line{stroke:#5d516c; color:#5d516c; }
.svg-wrapper .svg-wrap svg rect{stroke:#5d516c; color:#5d516c; }
.svg-wrapper .svg-wrap svg polyline{stroke:#5d516c; color:#5d516c; }
.svg-wrapper .svg-wrap svg circle{stroke:#5d516c; color:#5d516c; }
.svg-wrapper .svg-wrap .svg-title{margin: 2em 0 1em 0; font-weight: 600; font-size: 1.2em; transition: all 0.5s; cursor: pointer;}
.svg-wrapper .svg-wrap .svg-title:hover{color: #000;}

/************ Video Wrapper  *************/
.video-wrapper{width: 100%; font-size: 1rem; margin-top: 90px;}
.video-wrapper .video-wrap{position: relative; }
.video-wrapper .video-wrap .img-cover{ margin: 0 auto; border-radius: 5px; overflow: hidden; }
.video-wrapper .video-wrap .img-cover img{width: 100%; height: auto;}
.video-wrapper .video-wrap .youtube{position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block;  }
.video-wrapper .video-wrap .youtube .play-wrap{ position: absolute; left: calc(50% - 7em); top:calc(50% - 7em); }
.video-wrapper .video-wrap .youtube .play-wrap .circle{position: relative; width: 15em; height: 15em; display: flex; justify-content: center; align-items: center; }
.video-wrapper .video-wrap .youtube .play-wrap .circle::before{display: block; content:""; width: 14em; height: 14em; position: absolute; border-radius: 50%; background-color: rgba(120,120,120,0.3); backdrop-filter: blur(5px); transform:scale(1); transition: all 0.5s; }

.video-wrapper .video-wrap .youtube .play-wrap .circle span{position: absolute; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.video-wrapper .video-wrap .youtube .play-wrap .circle span img{width: 30px; height: auto; }
.video-wrapper .video-wrap .youtube .play-wrap .circle span .mask { position: absolute; mask: url(../img/playbtn.png); -webkit-mask: url(../img/playbtn.png); width: 30px; height: 33px; mask-size: cover; mask-position: center; -webkit-mask-size: cover; -webkit-mask-position: center;  }
.video-wrapper .video-wrap .youtube .play-wrap .circle span .mask-fill{ width: 31px; height: 32px; background-color: #fff; transition: all 0.5s; transform:scaleX(0); transform-origin: left;}

.video-wrapper .video-wrap .youtube .play-wrap .circle i:nth-child(2){position: absolute; }
.video-wrapper .video-wrap .youtube .play-wrap .circle i:nth-child(2)::before{width: 60px; height: 60px; display: block; content:''; background-color: #fff; color: #000;}
.video-wrapper .video-wrap .youtube:hover .play-wrap .circle::before{transform:scale(1.1);}
.video-wrapper .video-wrap .youtube:hover .play-wrap .circle .mask-fill{ transform:scaleX(1); } 

/************ Shop-wrapper2  *************/
.shop-wrapper2{width: 100%; margin: 0 auto; font-size: 1rem;}
.shop-wrapper2 .shop-wrap{width: 90%; min-width: 1000px; margin: 0 auto; display: flex; justify-content: space-between; }
.shop-wrapper2 .shop-item{ text-align: center;}
.shop-wrapper2 .shop-item:nth-child(2){transform:translateY(3em); }

/************ NewsLetter-wrap  *************/
.newsletter-wrap{width: 66em; height: 20em;	margin: 0 auto; background-color: #fff; position: relative; font-size: 1rem;}	
.newsletter-wrap .newsletter{display: flex; justify-content: center; align-items: center; }
.newsletter-wrap .newsletter p{transition: transform 0.5s; font-size: 11em; font-weight: 700; transform: translateY(100px); transition-delay: 0; color: #fce4e9;}
.subscribe-wrapper{width: 110%; height: 80%; display: flex; justify-content: center; align-items: center; position: absolute; bottom: -35%; left:50%; transform: translateX(-50%); background-color: #fff; z-index: 5;}
.subscribe-wrapper form input{width: 24em; border:none; border-bottom: 1px solid #999999; font-weight: 600; font-size: 1.2em; color:#38214A; }
.subscribe-wrapper form input:focus {outline:none;}
.subscribe-wrapper form .btn-view{margin-left: 1em; background-color: #492e61; color: #fff; font-weight: 500; }
.subscribe-wrapper form .btn-view:hover{box-shadow: 0 10px 15px rgba(75, 13, 155, 0.3);}


/************ footer-slide-wrapper  *************/
.footer-slide-wrapper{width: 100%; height: 50vh; background-color: #fce4e9; overflow: hidden; position: relative; display: flex; align-items: center; font-size: 1rem; }
.footer-slide-wrapper .footer-slide-wrap{height: 250px; display: flex; position: absolute; justify-content: space-between; align-items: center; cursor: grab;  transform:translateY(45px);}
.footer-slide-wrapper .footer-slide-wrap .footer-slide{display: flex;  background-color: #fce4e9; justify-content: space-between; width: 100vw; height: 150px; padding: 0 3em; margin: 0 3em;}
.footer-slide-wrapper .footer-slide-wrap .slide-img{flex:12.5% 0 0; user-select: none; position: relative;  }

.footer-slide-wrapper .footer-slide-wrap .slide-img img{cursor: pointer; opacity:0; position: absolute; transition:all 0.5s;}
.footer-slide-wrapper .footer-slide-wrap .slide-img img.on{opacity: 1;}
.footer-slide-wrapper .footer-slide-wrap .slide-img img{user-select: none; -webkit-user-drag: none;}

/************ Footer  *************/
.footer-wrapper{width: 100%; font-size: 1rem; position: relative; background-color: #191a44; }
.footer-wrapper .footer-wrap{width: 100%; padding: 60px 0 30px 0;  background-color: #191a44; color: #fff; }
.footer-wrapper .footer-top{text-align: center; }
.footer-wrapper .footer-top h2{ font-size: 3em; color: #fff; font-weight: 700; letter-spacing: -2px;}
.footer-wrapper .footer-mid{width:1200px; margin: 0 auto; margin-top: 3em; }
.footer-wrapper .footer-mid ul{display: flex; justify-content: space-between; align-items: center; }
.footer-wrapper .footer-mid ul li{width: 15%; position: relative; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.footer-wrapper .footer-mid ul li:hover img{filter: blur(5px);}
.footer-wrapper .footer-mid ul li:hover i{opacity: 1;}
.footer-wrapper .footer-mid ul li img{width: 100%; height: auto;  border-radius: 5px; transition: all 0.5s; filter: blur(0);}
.footer-wrapper .footer-mid ul li i{position: absolute; opacity: 0; transition: all 0.5s;}
.footer-wrapper .footer-bot{width: 80%; margin: 0 auto; margin-top: 3em; display: flex; justify-content: space-between; align-items: center;}
.footer-wrapper .footer-bot .copy{ flex:20% 0 0;}
.footer-wrapper .footer-bot .sns-wrapper{display: flex; justify-content: center; align-items: center; flex:20% 0 0; }
.footer-wrapper .footer-bot .sns-wrapper .sns-wrap{flex:16.6666% 0 0; width: 45px; height: 45px; position: relative; justify-content: center; align-items: center; cursor: pointer;}
.footer-wrapper .footer-bot .sns-wrapper .sns-wrap svg{position: absolute;  width: 45px; height:45px; transform: rotate(180deg);}
.footer-wrapper .footer-bot .sns-wrapper .sns-wrap svg circle{ stroke: #bbb; fill-opacity: 0; stroke-dasharray: 150; stroke-dashoffset: 150;  transition: all 1s;}
.footer-wrapper .footer-bot .sns-wrapper .sns-wrap:hover circle{stroke-dashoffset: 0;}
.footer-wrapper .footer-bot .sns-wrapper .sns-wrap i{position: absolute; left: 45%; top: 50%; transform:translate(-50%, -50%);}


/************ Aside-wrapper  *************/
.aside-wrapper{position: fixed; width: 512px; height: 100vh; background-color: #f8e7e5; top: 0; z-index: 100; font-size: 1rem; right: -100%; transition: all 0.8s; transition-timing-function:ease-in-out;}
.aside-wrapper .aside-deco{width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; content:"";}
.aside-wrapper .aside-deco .aside-background{ width: 150%; height: 300px; position: absolute; bottom: -120px; left: -15%;	border-radius:40%; transform-origin: center; transform: rotate(15deg); background: linear-gradient(90deg, rgb(248, 231, 229) 30%, rgb(241, 192, 167) 100%) }
.aside-wrapper .aside-deco .aside-background2{ width: 125%; height:140px; position: absolute; bottom: 80px; left: -15%;	border-radius:45%; transform-origin: center; transform: rotate(195deg); background: #f8e7e5; }
.aside-wrapper .aside-outground{width: calc(100vw - 512px); height: 100vh; position: absolute; z-index: 1; right: 512px; top: 0; opacity:0; }
.aside-wrapper.on{right: 0;}
.aside-wrapper .aside-wrap{width: 100%; height: 100%;  padding: 90px 70px 35px 70px; right: 0; 	background-color: #F8E7E5; margin: 0 auto;}

.aside-wrapper .aside-wrap .sub-title{font-weight: 600; font-size: 1.2em; color: #492e61;}
.aside-wrapper .aside-wrap > div{margin: 2em 0;}
.aside-wrapper .aside-nav{position: absolute; right: 50px; top: 50px; cursor: pointer;}
.aside-wrapper .aside-nav span:nth-child(odd) div:nth-child(even){background-color:transparent;}
.aside-wrapper .aside-nav  span:nth-child(even) div:nth-child(odd){background-color:transparent;}
.aside-wrapper .aside-nav:hover span:nth-child(odd) div:nth-child(odd){background-color: #888;}
.aside-wrapper .aside-wrap div a h2{font-size: 3.5em; font-weight: 800; letter-spacing: -4px; color: #38214A;}
.aside-wrapper .aside-wrap .aside-insta ul{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.aside-wrapper .aside-wrap .aside-insta ul li{flex:20% 0 0; margin: 1%; position: relative; cursor: pointer;}
.aside-wrapper .aside-wrap .aside-insta ul li i{position: absolute; top: calc(50% - 0.5em); left: calc(50% - 0.5em); transition:opacity 0.5s; opacity:0; color: #fff;}
.aside-wrapper .aside-wrap .aside-insta ul li img{width: 100%; height: 100%; border-radius: 4px; transition:filter 0.5s;}
.aside-wrapper .aside-wrap .aside-insta ul li:hover i{opacity:1;}
.aside-wrapper .aside-wrap .aside-insta ul li:hover img{filter: blur(3px);}

.aside-wrapper .aside-wrap .sns-wrapper{display: flex; justify-content: start; align-items: center; }
.aside-wrapper .aside-wrap .sns-wrapper .sns-wrap{position: relative; flex:10% 0 0; width: 40px; height: 40px;}
.aside-wrapper .aside-wrap .sns-wrapper .sns-wrap svg{position: absolute; width: 40px; height: 40px; transform:rotate(180deg);}
.aside-wrapper .aside-wrap .sns-wrapper .sns-wrap svg circle{ position: absolute; left: 0; top: 0; fill-opacity: 0; stroke:#666; stroke-dasharray: 150; stroke-dashoffset: 150; transition:all 1s;  }
.aside-wrapper .aside-wrap .sns-wrapper .sns-wrap:hover svg circle{stroke-dashoffset: 0;}
.aside-wrapper .aside-wrap .sns-wrapper .sns-wrap i{position: absolute; display: flex; justify-content: center; align-items: center; left: 0; top: 0; width: 40px; height: 40px; color: #111; font-size: 1.1em;}

/************ Narrow nav wrapper  *************/
.narrow-nav-wrapper{position: fixed; display: none; background: #fff; top: 0; left: 0; width: 100%; z-index: 10;	}
.narrow-nav-wrapper .nav-wrap{ padding: 3em 5em; }
.narrow-nav-wrapper .nav-wrap .nav{display: block;}
.narrow-nav-wrapper .nav-wrap .nav span{color: #38214A; font-weight: 600;}
.narrow-nav-wrapper .nav-wrap .nav li{margin: 0.8em 0;}
.narrow-nav-wrapper .nav-wrap .nav li .sub-nav{display: none;}

/************ ScrollTop  *************/
.top-scroll{color: #000; background-color: transparent; position: fixed; right: -15px; bottom: 65px; transform: rotate(-90deg); cursor: pointer;  transition: all 0.5s; display: flex; }
.top-scroll h2{font-weight: 600; letter-spacing: -0.5px;}
.top-scroll i{margin-left: 10px; font-size: 22px; font-weight:500; transition:transform 0.5s; line-height: 0.8; }
.top-scroll:hover i{transform: translateX(5px);}

/************ Responsive  *************/
@media screen and (max-width: 1679px) {
	 
	.slide-wrapper:nth-child(1) .slide-img:nth-child(2) img{ 
		width: 881px;}
	.slide-wrapper:nth-child(2) .slide-img:nth-child(2) img{ 
		width: 780px;}
	.slide-wrapper:nth-child(3) .slide-img:nth-child(2) img{ 
		width: 450px;}
		.footer-wrapper .footer-mid{width: 1100px;}
}
@media screen and (max-width: 1399px) {
	.home-wrapper{height:650px; }
	.svg-wrapper{width: 1100px; }
	.svg-wrapper{width: auto; margin: 0	6.8vw;}
	.shop-wrapper2 .shop-wrap{min-width: 900px;}
	.footer-wrapper .footer-mid{width: 960px;}
	.footer-slide-wrapper .footer-slide-wrap .slide-img{flex:16.6666% 0 0;}
	
}

@media screen and (max-width: 1024px) {
	.header-wrapper{position: static; height: 70px;}
	.header-wrap .nav-wrapper , .header-wrap .side-nav-wrap .cart-wrap , .header-wrap .side-nav-wrap .media-wrap{display: none;}
	.slide-wrapper:nth-child(1) .slide-img:nth-child(2) img{ 
		width: 801px;}
		.slide-wrapper:nth-child(2) .slide-img:nth-child(2) img{ 
			width: 610px;}
			.slide-wrapper:nth-child(3) .slide-img:nth-child(2) img{ 
				width: 380px;}
				.home-wrap .slide-wrapper:nth-child(2) .slide-img{bottom: 0%; transform:translateY(0);}
				.home-wrap .slide-wrapper:nth-child(3) .slide-img{bottom: 0%; transform:translateY(0);}
				.promo-wrapper{font-size: 0.9rem; }
				.svg-wrapper{width: auto; margin: 0	6.8vw;}
	.shop-wrapper2 .shop-item{flex-grow: 0;}
	.shop-wrapper2 .shop-item:nth-child(2){transform:translateY(0);}
	.shop-wrapper2 .shop-wrap{min-width: 720px;}
	.newsletter-wrap{font-size: 12px;}
	.footer-wrapper .footer-mid{width: 768px;}
	.footer-slide-wrapper .footer-slide-wrap .slide-img{flex:25% 0 0;}
	.aside-wrapper{display: none;}
	.narrow-nav-wrapper{display: block;}
}

@media screen and (max-width: 767px) {
	.home-wrap .arrow-wrap{display: none;}
	.shop-wrapper{padding:2em ;}
	.svg-wrapper{width: auto; margin: 0	6.8vw;}
	.top-scroll{right: -25px;}
	.shop-wrapper2 .shop-wrap{min-width: 550px;}
	.newsletter-wrap{font-size: 11px;}
	.footer-wrapper .footer-mid{width: auto;}
	.footer-slide-wrapper .footer-slide-wrap .slide-img{flex:33.3333% 0 0;}
} 


@media screen and (max-width: 696px) {
	.home-wrapper{min-height:780px; }
	.slide-wrapper:nth-child(1) .slide-img:nth-child(2) img{ 
	width: 387px;}
	.slide-wrapper:nth-child(2) .slide-img:nth-child(2) img{ 
	width: 380px;}
	.slide-wrapper:nth-child(3) .slide-img:nth-child(2) img{ 
	width: 250px;}
	.shop-wrapper2 .shop-wrap{width: auto;}
	.newsletter-wrap{font-size: 9px;}
	.footer-wrapper {height: max-content;}
	.footer-wrapper .footer-mid{width: auto; height: 100%;}
	.footer-wrapper .footer-mid ul{flex-wrap: wrap;}
	.footer-wrapper .footer-mid ul li{flex:40% 0 0; margin:5%;}
	.footer-slide-wrapper .footer-slide-wrap .slide-img{flex:50% 0 0;}
}
		
	@media screen and (max-width: 640px) {
		.promo-wrapper{font-size: 0.7rem; }
		.newsletter-wrap{font-size: 8px;}
		.footer-slide-wrapper .footer-slide-wrap .slide-img{flex:100% 0 0;}
}

@media screen and (max-width: 480px) {

} 




